/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font per tutto il body */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
}

header{
    height: 8vh;
    justify-content: flex-end;
    align-items: center;
}

main{
    height: 82vh;
    overflow-y: auto;
}

nav{
    min-width: 1100px;
    height: 10vh;
    background-color: #222222;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.d-flex{display: flex;}

.flex-all-centered{
    justify-content: center;
    align-items: center;
}
.bg-gray{background-color: #4a4a4a;}

header > div {
    padding: 0.3rem;
    margin-right: .5rem;
    border-radius: 6px;
}

.container{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

main .user{
    width: 250px;
    height: 150px;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url("https://picsum.photos/seed/picsum/300/200"); 
    background-size: cover;
    margin: 10px 5px;
}

main .user .user-full-name{
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, .3);
}

nav .action-set{
    align-self: center;
}

nav .action-icon{
    padding: 10px;
}

nav .action-icon i{
    font-size: 2rem;
}

nav .action{
    padding-right: 16px;
}

nav .col-center .action .action-icon i{
    color: green;
}

nav .col-right{
    line-height: 10vh;
    padding: 0 20px;
    color: red;
}